
.modal {
  position: fixed;
  z-index: 1;
  left: 0rem;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
 	transform: scale(0);
  visibility: hidden;
	opacity: 0;
  transition-duration: 1.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 1ms;
}

.modal-content {
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
}

.close {
  color: #c5a267;
  float: right;
  margin: 1% 16% 0rem 0rem;
  font-size: 3rem;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
